* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Satisfy', cursive;
	font-size: 27px;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px 10px;
	line-height: 1.65em;
	background: #111111;
	color: #fff;
	font-weight: 300;
}

.intro {
	background-image: url('https://source.unsplash.com/xU5Mqq0Chck');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px;
	height: 20rem;
	top: 0;
	left: 0;
}

.intro h1 {
	color: white;
	padding: 4rem;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.future {
	text-align: center;
	font-weight: normal;
}

.description {
	margin: 30px auto 30px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, .8);
}

.bucket {
	width: 100%;
	margin-bottom: 20px;
	display: inline-block;
}

.choice-bucket {
	width: 33.333333%;
	float: left;
	margin: 0;
	padding: 0;
}

.choice-bucket input {
	margin: 15px 4%;
	padding: 16px 0;
	width: 92%;
	color: #035aa6;
	border-radius: 6px;
	border: 0;
	outline: 0;
	text-indent: 20px;
}

.highlight {
	opacity: .8;
	line-height: 24px;
	text-align: center;
}

#answers {
	margin: 60px 0;
	background: #fff;
	border-radius: 6px;
	color: #035aa6;
	transition: 1s linear;
	overflow: hidden;
}

#answers h2 {
	max-width: 760px;
	margin: auto;
	padding: 80px 0;
}

form input[type=submit] {
	background: #035aa6;
	border: 0;
	color: #fff;
	font-size: 20px;
	padding: 1em 2em;
	cursor: pointer;
	margin: 0 auto 60px;
	display: block;
	text-align: center;
	border-radius: 6px;
	font-weight: bold;
}

.hide {
	opacity: 0;
	height: 0;
}

.show {
	opacity: 1;
	height: 100%;
}
